/* About CSS */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.about {
  padding: 200px 0 200px 0;
  background-image: url('../images/starrydark.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 30px;
  display: block;
  font-family: 'Prata', serif;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.about p {
  color: white;
  opacity: 0.9;
  padding: 20px;
  margin: 0 auto;
}

.about .skillist {
  display: flex;
  justify-content: center;
}

.about ul {
  list-style: square inside;
  text-align: left;
}

.about h6 {
  margin-top: 40px;
}

.parent {
  text-align: center;
}

.child {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.child-year {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #afafb3;
  font-weight: bold;
}

.about .cert-icon {
  color: #00a3ee;
  font-size: 20px;
  opacity: 0.7;
}

.about .cert-icon :hover {
  color: rgb(191, 240, 241);
  opacity: 0.9;
}

@media (max-width: 900px) {
  .about {
    padding: 100px 0 100px 50px;
    margin-left: -46px;
  }
  .about ul {
    margin: 0 auto;
    text-align: left;
  }
}
