/* Resume CSS */

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.resume {
  padding: 200px 0 200px 0;
  background-image: url('../images/starrydark.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.resume h1 {
  font-size: 35px;
  font-weight: 450;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 50px;
  display: block;
  font-family: 'Prata', serif;
}

.resume h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 45px;
  margin-bottom: 20px;
  display: block;
  font-family: 'Prata', serif;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.resume h6 {
  margin-top: 40px;
}

.parent {
  text-align: center;
}

.child {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.child-year {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #afafb3;
  font-weight: bold;
}

.resume p {
  margin-bottom: 15px;
  font-style: italic;
  color: #9d9da0;
}

.resume a {
  color: white;
  text-decoration: none;
}

.resume .cert-icon {
  color: #00a3ee;
  font-size: 20px;
  opacity: 0.7;
}

.resume .cert-icon :hover {
  color: rgb(191, 240, 241);
  opacity: 0.9;
}
